@charset "URF-8";
/*VERSÃO PARA CELULAR*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

header.container img#logo-loja {
  display: block;
  margin: auto;
}

header h2 {
  font-size: 1.5em;
}

nav a {
  flex-flow: column wrap;
  width: 90vw;
  font-size: 0.9em;
}
