@charset "UTF-8";

/*VERSÃO PARA CELULAR*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

header,
header nav {
  flex-flow: column nowrap;
}

header nav a {
  width: 90vw;
}

#burguer {
  background-color: #ebe1e1b9;
  color: black;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#burguer:hover {
  background-color: white;
  color: black;
}

nav a {
  display: none;
}

a {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(129, 120, 120, 0.459);
  color: white;
  border-top: 2px solid rgb(202, 198, 198);
}

main {
  width: 100vw;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

main h2 {
  padding-bottom: 20px;
}

main p {
  text-align: justify;
  margin-bottom: 20px;
  text-indent: 20px;
}
